.news-wrap {
  text-align: center;
}

.news-item {
  display: inline-block;
}

.news-item h2 {
  font-size: 32px;
  color: #689df2;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.news-item p {
  font-size: 18px;
  color: #3c5884;
}




